
.about {
  min-height: 100vh; /* Ensure section fills the viewport */
  display: flex; /* Enable flex layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative; /* Maintain positioning for children */
  width: 100%; /* Ensure section spans full width */
}

.aboutHeadline {
  margin-bottom: var(--spacing-sm);
}

.content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.heading {
  line-height: auto;
  letter-spacing: -0.02em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tokenContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100vw;
  height: 150%;
  pointer-events: none;
  overflow: visible;
}

@media (max-width: 1200px) {
  .tokenContainer {
    width: 120%;
    height: 120%;
  }
}

@media (max-width: 768px) {  
  .aboutHeadline {
    margin-bottom: var(--spacing-xs);
  }

  .content {
    max-width: 100%;
  }

  .tokenContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    z-index: -100;
  }
}