.about {
  composes: section fullHeight from './section.module.css';
}

.container {
  composes: container darkContainer from './section.module.css';
}

.content {
  flex: 1;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.heading {
  composes: titleLarge from './section.module.css';
  line-height: auto;
  letter-spacing: -0.02em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text {
  composes: text from './section.module.css';
  max-width: 600px;
  text-shadow: -1px 1px 0px #000;
}

.tokenContainer {
  position: absolute;
  right: -25%;
  top: 50%;
  transform: translateY(-50%);
  width: 150%;
  height: 150%;
  z-index: 1;
  pointer-events: none;
  overflow: visible;
}

@media (max-width: 1200px) {
  .tokenContainer {
    width: 120%;
    height: 120%;
  }
}

@media (max-width: 768px) {
  .content {
    max-width: 100%;
  }

  .tokenContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 200px;
  }
}

@media (max-width: 480px) {
  .about {
    margin: 1rem;
  }
}