.aboutSection {
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 5rem;
  box-sizing: border-box;
  position: relative;
}

.container {
  border: 2px solid black;
  background: #161616;
  color: #FFF;
  border-radius: 4rem;
  box-shadow: -12px 12px 0px #000;
  max-width: 1400px;
  width: 100%;
  height: 50%;
  margin: 0 auto;
  padding: 4rem;
  display: flex;
  align-items: center;
  position: relative;
}

.content {
  flex: 1;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: auto;
  position: relative;
  z-index: 3;
}

.heading {
  font-family: var(--font-cooper);
  font-size: 120px;
  line-height: 0.9;
  margin-bottom: 2rem;
  color: #F39;
  text-shadow: -8px 8px 0px #000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  font-variation-settings: "wght" 800;
}

.text {
  font-size: 24px;
  line-height: 1.5;
  max-width: 600px;
  color: #FF3399;
  text-shadow: -1px 1px 0px #000;
}

.tokenContainer {
  width: 150%;
  height: 150%;
  position: absolute;
  right: -25%;
  top: -50vh;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 2;
  will-change: top;
  overflow: visible;
}

@media (max-width: 1200px) {
  .container {
    padding: 3rem 2rem;
  }

  .tokenContainer {
    width: 120%;
    height: 120%;
  }
}

@media (max-width: 768px) {
  .aboutSection {
    height: auto;
    min-height: 100vh;
    margin: 2rem;
  }

  .container {
    flex-direction: column;
    text-align: center;
    padding: 3rem 1.5rem;
    border-radius: 2rem;
  }

  .heading {
    font-size: 80px;
  }

  .text {
    font-size: 20px;
    margin: 0 auto;
  }

  .tokenContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 2;
  will-change: top;
  overflow: visible;
  }
}