.hero {
  composes: section fullHeight from './section.module.css';
  overflow: hidden;
  z-index: 1;
}

.heroContent {
  composes: container from './section.module.css';
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 2;
}

.contentOverlay {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.heroHeadline {
  composes: title from './section.module.css';
  line-height: 0.45;
  letter-spacing: -0.02em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.staticWord {
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
  text-align: left;
  user-select: none;
  -webkit-user-select: none;
}

@media (max-width: 480px) {  
  .heroHeadline span {
    text-align: center;
    width: 100%;
  }
}
 