.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  background-color: #FAF4F0;
}

.contentSide {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4rem;
}

.sceneSide {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}

.scene3d {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.content {
  text-align: left;
  z-index: 20;
  position: relative;
  max-width: 90%;
}

.content h1 {
  color: #F39;
  text-shadow: -12px 12px 0px #000;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000;
  font-family: Bilgres;
  font-size: 204px;
  font-style: normal;
  font-weight: 400;
  line-height: 85%;
}

.heroText {
  color: #000;
  font-family: "Source Serif Pro";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 134%;
}

/* .content p {
  font-size: 1.25rem;
  color: rgb(75, 85, 99);
} */

.shapes {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 10;
}

.shape1 {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.shape2 {
  position: absolute;
  top: 33.333333%;
  right: 25%;
  transform: translate(50%, -50%);
}

.shape3 {
  position: absolute;
  bottom: 25%;
  left: 33.333333%;
  transform: translate(-50%, 50%);
}

.shape4 {
  position: absolute;
  bottom: 33.333333%;
  right: 33.333333%;
  transform: translate(50%, 50%);
}

.shapeImage {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
}

.motionShape {
  position: absolute;
  pointer-events: auto;
  cursor: pointer;
}
 