.waveBorder {
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  width: 100%;
  height: 49px;
  background-image: url('/waveborder.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
  pointer-events: none;
  z-index: 10;
}

@media (min-width: 2000px) {
  .waveBorder {
    height: 60px;
  }
} 