.waveBorder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 10;
  pointer-events: none;
  transform-origin: bottom center;
}

@media (min-width: 2000px) {
  .waveBorder {
    height: 60px;
  }
} 