.workTogether {
  padding: 6rem 0;
  background-color: #FAF4F0;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.content {
  margin-top: 2rem;
}

.container h2 {
  font-family: Bilgres;
  font-size: 6rem;
  line-height: 1;
  color: #000;
}

@media (max-width: 768px) {
  .container h2 {
    font-size: 4rem;
  }
}

.shapesContainer {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
} 