/* Modern CSS Reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--color-background);
  color: var(--color-text);
}

/* Make images easier to work with */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
  font: inherit;
}

/* Remove list styles on ul, ol elements */
ul, ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* iOS Text Shadow Fix */
@supports (-webkit-touch-callout: none) {
  * {
    text-shadow: none !important;
    -webkit-text-stroke: 0 !important;
  }
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-source-serif), var(--font-cooper);
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

/* Base margins for headings and paragraphs */
h1, h2, h3, h4, h5, h6 {
  margin-top: var(--spacing-sm);
  margin-bottom: var(--spacing-xs);
}

p {
  margin-bottom: var(--spacing-xs);
}

/* Optional: Adjust for tighter spacing on smaller screens */
@media (max-width: var(--breakpoint-md)) {
  h1, h2, h3, h4, h5, h6 {
    margin-top: var(--spacing-xs);
    margin-bottom: calc(var(--spacing-xs) / 2);
  }

  p {
    margin-bottom: calc(var(--spacing-xs) / 2);
  }
}

/* CSS Variables */
:root {
  /* Define global breakpoints for consistency */
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;

  /* Colors */
  --color-background: #1d2329;
  --color-dark: #1d2329;
  --color-text: #e9e9e9;
  --color-accent: #F39;
  --color-accent-dark: #768DA4;
  --color-accent-light: #96A1AB;
  --color-border: #000;

  /* Typography */ 
  --font-size-section-heading-hero: 16rem;
  --font-size-section-heading: 16rem;
  --font-size-section-title: 6rem;

  --font-size-heading: 3rem;

  --font-size-sub-title: 2rem;


  /* 
  Body Typography 
  */ 
  --font-size-body-xl: 2.2rem;
  --font-size-body-lg: 1.85rem;
  --font-size-body: 1.5rem;

  /* Responsive */
  --font-size-body-xl-tablet: 1.9rem;
  --font-size-body-lg-tablet: 1.65rem;
  --font-size-body-tablet: 1.4rem;

  --font-size-body-xl-mobile: 1.5rem;
  --font-size-body-lg-mobile: 1.35rem;
  --font-size-body-mobile: 1.2rem;



  --font-size-sm: 1rem;

  --line-height-tight: 1;
  --line-height-normal: 1.4;
  --line-height-relaxed: 1.6;

  /* Responsive Typography */
  --font-size-section-heading-hero-tablet: 13rem;
  --font-size-section-heading-hero-mobile: 9.5rem;
  --font-size-section-heading-hero-mobile-sm: 7rem;

  --font-size-section-heading-tablet: 9rem;
  --font-size-section-heading-tablet-sm: 6rem;
  --font-size-section-heading-mobile: 6rem;
  --font-size-section-heading-mobile-sm: 4.5rem;

  --font-size-section-title-tablet: 4.5rem;
  --font-size-section-title-mobile: 3.85rem;  
  --font-size-section-title-mobile-sm: 3rem;  

  --font-size-heading-mobile: 2rem;

  --font-size-sub-title-tablet: 1.65rem;
  --font-size-sub-title-mobile: 1.25rem;





  /* Spacing */
  --spacing-xxs: 0.5rem;
  --spacing-xs: 1rem;
  --spacing-sm: 2rem;
  --spacing-md: 3rem;
  --spacing-lg: 4rem;
  --spacing-xl: 6rem;
  --spacing-xxl: 9rem;

  /* Responsive Spacing */
  --spacing-md-laptop: 2.5rem;
  --spacing-md-tablet: 2rem;
  --spacing-md-mobile: 1.5rem;

  /* Layout */
  --max-width: 1400px;
  --border-width-sm: 2px;
  --border-width-md: 4px;
  --border-width-lg: 8px;
  --border-width-xl: 12px;
  --border-width-xxl: 16px;
  --border-radius: 1rem;
  --border-radius-mobile: 0.5rem;

  /* Effects */
  --shadow-lg: -12px 12px 0 var(--color-border);
               /* -6px 6px 0 var(--color-border); */
  --shadow-md: -8px 8px 0 var(--color-border);
  --shadow-sm: -3px 3px 0 var(--color-border);
  --shadow-md-mobile: -4px 4px 0 var(--color-border);
}