.canvasContainer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  pointer-events: auto;
  background: transparent;
}