/* Base Styles for ProjectSection */
.projectContentContainer {
  display: flex;
  gap: var(--spacing-md);
}

/* Content Section */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-family: var(--font-source-serif);
  font-size: 1.25rem;
  color: #f39;
}

/* Image Section */
.imageContainer {
  flex: 1;
  max-width: 40%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: var(--border-radius);
  border: 2px solid #f39;
  box-shadow: -8px 8px 0 #000;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .title {
    font-size: var(--font-size-section-title);
  }
  .description {
    font-size: 1.25rem;
  }
  .projectContentContainer {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--spacing-md);
  }
  .imageContainer {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
  }

  .content {
    gap: 1rem;
  }
}

@media (max-width: 640px) {
  .container {
    flex-direction: column;
    padding: 1rem;
  }

  .title {
    font-size: var(--font-size-section-title-tablet);
  }

  .details {
    gap: 0.5rem;
  }
}

