.canvasContainer {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
  pointer-events: auto !important;
  overflow: visible;
}

.canvas {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  pointer-events: auto !important;
  touch-action: pan-y !important;
}

.canvas > div {
  pointer-events: auto !important;
  touch-action: pan-y !important;
}

.canvas canvas {
  pointer-events: auto !important;
  touch-action: pan-y !important;
}

.canvas:active {
  cursor: grabbing;
} 