/* Main */
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  pointer-events: auto;
  background: transparent;
}

.gradientTopBottom {
  background: linear-gradient(0deg, 
    rgba(22, 22, 22, 0.34) 0%,
    rgba(22, 22, 22, 0.64) 40%,
    rgba(22, 22, 22, 0.90) 100%
  );
}

.gradientBottomTop {
  background: linear-gradient(180deg, 
    rgba(22, 22, 22, 0.34) 0%,
    rgba(22, 22, 22, 0.72) 40%,
    rgba(22, 22, 22, 0.90) 100%
  );
}

.darkOverlayBg {
  background: rgba(22, 22, 22, 0.90);
}

a.link {
  color: var(--color-accent);
  text-decoration: none;
  font-family: var(--font-source-serif);
  font-size: var(--font-size-body);
}


/* Container System */
.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.darkContainer {
  background: var(--color-dark);
  padding: var(--spacing-lg);
  border: var(--border-width) solid var(--color-border);
  box-shadow: var(--shadow-lg);
}

.contentContainer {
  padding: var(--spacing-md) 0;
}

.paddingBottom {
  padding-bottom: 4rem;
}



/* Base Text Styles */
.textBase {
  color: var(--color-text);
  line-height: var(--line-height-relaxed);
  font-family: var(--font-source-serif);
  font-size: var(--font-size-body);
}

.textBase p {
  margin-bottom: var(--spacing-md);
}

.textBase p:last-child {
  margin-bottom: 0;
}

.textBase.large {
  font-size: var(--font-size-body-lg);
}

.textBase.larger {
  font-size: var(--font-size-body-xl);
}




/* Display Text */
.displayText {
  font-family: var(--font-cooper);
  line-height: var(--line-height-tight);
  color: var(--color-accent);
  paint-order: stroke fill;
  font-variation-settings: "wght" 900;
}

.sectionHeading {
  font-size: var(--font-size-section-heading);
  text-shadow: var(--shadow-md);
  letter-spacing: -0.35rem;
}

.sectionTitle {
  font-size: var(--font-size-section-title);
  letter-spacing: -0.125rem;
  margin: var(--spacing-md) 0 var(--spacing-sm);
}

/* Content Section */
.subsectionTitle {
  font-size: var(--font-size-sub-title);
  margin: var(--spacing-sm) 0;
  line-height: var(--line-height-tight);
  color: var(--color-accent-light);
}

.subsectionList {
  list-style-type: disc;
  list-style-position: inside;
  padding: 0;
  margin: 0 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* .subsectionList li {
  font-size: var(--font-size-body-lg);
  color: var(--color-text);
  line-height: var(--line-height-relaxed);
  font-family: var(--font-source-serif);
} */



/* Image Styles */
.imageBase {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
  /* border: 1px solid var(--color-accent); */
  /* box-shadow: var(--shadow-md); */
}





/* Grid System */
.gridBase {
  display: grid;
  gap: var(--spacing-md);
}

.gridColumns2 {
  display: grid;
  gap: var(--spacing-lg);
  grid-template-columns: repeat(2, 1fr);
}

.gridColumns3 {
  display: grid;
  gap: var(--spacing-lg);
  grid-template-columns: repeat(3, 1fr);
}



/* Button System */
.buttonBase {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  border: var(--border-width) solid var(--color-border);
  border-radius: var(--border-radius);
  font-family: var(--font-cooper);
  cursor: pointer;
  transition: all 0.165s ease;
  text-decoration: none;
}

.buttonIcon {
  width: 3rem;
  height: 3rem;
  margin: 0 var(--spacing-xs);
}

.primaryButton {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-cooper);
  font-variation-settings: "wght" 800;
  background: var(--color-accent);
  color: var(--color-border);
  padding: var(--spacing-xs);
  font-size: var(--font-size-body-lg);
  box-shadow: var(--shadow-lg);
  margin-top: var(--spacing-md);
  border-radius: var(--border-radius);
  border-color: var(--color-border);
  white-space: nowrap;
 /* Transition for smooth effects */
 transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease, letter-spacing 0.2s ease, font-variation-settings 0.2s ease;
}
.half {
  width: 50%;
}

.primaryButton:hover {
  font-variation-settings: "wght" 900;
}

.primaryButton span {
  transition: transform 0.3s ease; /* Smoothly transition position */
}

.primaryButton:active {
  transform: translate(-12px, 12px);
  box-shadow: none;
  background-color: rgb(255, 67, 161);
}



.secondaryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: var(--font-cooper);
  font-size: var(--font-size-body);
  color: #FFF;
  background: rgba(255, 255, 255, 0.04);
  font-variation-settings: "wght" 800;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: var(--spacing-xxs) var(--spacing-xs);
  border-radius: var(--border-radius);
  border: 2px solid #FFF;
  box-shadow: var(--shadow-md);
  height: 3rem;
  white-space: nowrap;
}

.secondaryButton:hover {
  font-variation-settings: "wght" 900;
}

.secondaryButton:active {
  transform: translate(-6px, 6px);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.24);
}

.textLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--font-cooper);
  font-size: var(--font-size-body);
  color: #FFF;
  font-variation-settings: "wght" 800;
  cursor: pointer;
  transition: all 0.2s ease;
  background: transparent;
  text-decoration: none;
  border: none;
}

.textLink:hover {
}
           


/* Section Backgrounds */
.gradientBg {
  background: linear-gradient(180deg, 
    rgba(22, 22, 22, 0) 0%,
    rgba(22, 22, 22, 0.94) 10%,
    rgba(22, 22, 22, 0.94) 100%
  );
}







/* 
Responsive Styles 
*/
@media (max-width: 1200px) {
  .container {
    padding: 0 var(--spacing-md-laptop);
  }
  .sectionHeading {
    font-size: var(--font-size-section-heading);
  }
  .sectionTitle {
    font-size: var(--font-size-section-title);
  }
  .gridColumns3 {
    gap: var(--spacing-md);
  }
}


/* Tablet Styles */
@media (max-width: 1024px) {
  .sectionHeading {
    font-size: var(--font-size-section-heading-tablet);
    letter-spacing: -0.125rem;
  }
  .sectionTitle {
    font-size: var(--font-size-section-title-tablet);
  }
  .darkContainer {
    padding: var(--spacing-md);
  }
  .container {
    padding: 0 var(--spacing-md-mobile);
  }
  .gridColumns2 {
    grid-template-columns: 1fr;
    gap: var(--spacing-md);
  }
  .gridColumns3 {
    grid-template-columns: 1fr;
    gap: var(--spacing-md);
  }
  /* Text Styles */
  .textBase {
    font-size: var(--font-size-body-tablet);
  }

  .textBase.large {
    font-size: var(--font-size-body-lg-tablet);
  }

  .textBase.larger {
    font-size: var(--font-size-body-xl-tablet);
  }
}


/* Tablet & Mobile Styles */
@media (max-width: 768px) {
  .sectionHeading {
    font-size: var(--font-size-section-heading-tablet-sm);
  }

  .sectionTitle {
    font-size: var(--font-size-section-title-tablet);
    margin: var(--spacing-sm) 0 var(--spacing-xs);
  }

  .paddingBottom {
    padding-bottom: 1rem;
  } 

  .darkContainer {
    padding: var(--spacing-sm);
  }

  .contentContainer {
    padding: 0;
  }

  .container {
    padding: 0 var(--spacing-md-laptop);
  }

  .darkContainer {
    padding: var(--spacing-md-tablet);
  }

  /* Text Styles */
  .textBase {
    font-size: var(--font-size-body-mobile);
  }

  .textBase.large {
    font-size: var(--font-size-body-lg-mobile);
  }

  .textBase.larger {
    font-size: var(--font-size-body-xl-mobile);
  }

  /* Image Styles */
  .imageBase {
    border-width: var(--border-width-mobile);
    border-radius: var(--border-radius-mobile);
    box-shadow: var(--shadow-md-mobile);
  }

  .primaryButton {
    font-size: var(--font-size-body-mobile);
    padding: var(--spacing-xxs);
    margin: var(--spacing-xs) 0;
  }

  .buttonIcon {
    width: 1.85rem;
    height: 1.85rem;
  }
}


/* Mobile Styles */
@media (max-width: 480px) {
  .container {
    padding: 0;
  }

  .sectionHeading {
    font-size: var(--font-size-section-heading-mobile-sm);
  }

  .sectionHeadingWrapper {
    padding: 0 var(--spacing-xs);
  }

  .sectionTitle {
    font-size: var(--font-size-section-title-mobile-sm);
  }

  .paddingBottom {
    padding-bottom: 0rem;
  }  

  .darkContainer {
    padding: var(--spacing-md-mobile);
  }

  .subsectionList li {
    font-size: var(--font-size-body-mobile);
  }

  .subsectionTitle {
    font-size: var(--font-size-sub-title-mobile);
  }

  .projectDetails {
    grid-template-columns: 1fr;
    gap: var(--spacing-sm);
    margin: var(--spacing-sm) 0;
  }
} 