.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  z-index: 1000;
  pointer-events: none;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
    font-family: var(--font-cooper);
    font-size: 3rem;
    color: #FFF;
    text-shadow: -6px 6px 0px #000;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #000;
    paint-order: stroke fill;
    font-variation-settings: "wght" 800;
    cursor: pointer;
    pointer-events: auto;
    transition: all 0.2s ease;
  }

.logo:hover {
    transform: translate(2px, -2px);
    text-shadow: -6px 6px 0px #000;
}

@media (max-width: 768px) {
  .nav {
    padding: 1rem;
  }
} 